$red: #E42900;
$light_red: #FC6041;
$active_color: #252525;
$dark_green: #27ae60;
$light_green: #2ecc71;


$white: #EEEEEE;
$primary: #2C3E50;
$secondary: #95A5A6;
$minor: #ECF2F8;
$major: #F3F2F5;
$hover: #E2E6EF;

$dark_border: #95A5A6;
$light_border: #D2D7D3;
$dark: #2C3E50;
$header: #3498DB;
$refresh: #446CB3;
$background: #ecf0f1;


$high: #F2784B;
$medium: #4183D7;
$low: #68C3A3;

$sidebar_size: 600px;
$header_size: 51px;