.component{
	
	// border: 1px black solid;
	// border-radius: 10px;

	
}
.component{
	.header{
		height: 10%;
		width: 100%;
	}
	.header span{
		// float: right;
	}
	.header h3{
		// float: left;
	}

	.content .textarea{
		min-height: 100px;
		border-radius: 10px;
		width: 100%;
		font-size: 12px;
		padding: 5px 7px;
		resize: none;
		border-color: lightgray;
		// margin: 15px;
	}
	.content{
		height: 90%;
		width: 100%;
		margin: auto;
		text-align: center;
	}

}