@import 'colors';

#question{
	position: absolute;
	height: 100%;
	background-color: white;
	border-right: 1px solid $light_border;
	padding: 0;
	overflow: auto;

}

#question{

	.list-group{
		margin: 0;
    	border-radius: 0;
	}	
	.list-group .list-group-item{
	    border-radius: 0;
	    border-right: 0;
	    border-left: 0;
	    padding: 5px 5px;
	    font-size: 11.5px;
	    background-color: white;
	    border-color: $light_border;
	}
	.list-group .list-group-item span.drag{
		width: 5%;
		font-size: 1.5em;
		color: $primary;
		position: absolute;
		top: 15px;
		display: none;

	}
	.list-group .list-group-item span.drag:hover{
		cursor: move;
	}
	
	.list-group .list-group-item textarea{
		margin-left: 7%;
		width: 93%;
		font-size: 12px;
		border: 0px;
		padding: 0px 5px;
		resize: none;
	}
	.list-group .list-group-item a{
		color: $primary;

	}
	.list-group .list-group-item:first-child{
    	border-top: 0;

	}

	.list-group .list-group-item:hover{
	    text-decoration: none;
	    color: $primary;
	    background-color: $minor;
	}
	.list-group .list-group-item:hover span.drag{
		display: block;	

	}
	
}
